


.image-query-box{
    border: solid 1px rgb(207, 206, 206);
    position: relative;
    border-radius: 5cm;
}

    .image-query-box:hover{
        box-shadow: 1px 1px 5px rgb(146, 146, 146);
    }

#image-query{
    width: 80%;
    position: relative;
    right: 0px;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.fa{
    color: rgb(190, 188, 188);
    position: relative;
    z-index: 2;
}

.image-query-box .fa, .image-query-box #image-query{
    margin: 0;
}